@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.no-scroll {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}

.top-navbar {
  background-color: #ffde00;
  padding: 8px 0;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 600;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-size: 14.4px;
  line-height: 21px;
  font-family: "Rubik", sans-serif;
}

.navbar-links a:hover {
  text-decoration: underline black 1.5px;
  text-underline-offset: 2px;

}

.navbar-links .separator {
  margin: 0 5px;
  color: #000;
  font-weight: 900;
}

.fas.fa-phone {
  margin-right: 5px;
}

.bg {
  background-color: #000000;
  padding: 10px 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.flex {
  display: flex;
  align-items: center;
}

.main-nav {
  justify-content: space-between;
}

.logo {
  height: 65px;
}

.nav-links {
  gap: 25px;
  margin-top: 20px;
}

.nav-links li a {
  margin-right: 25px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14.4px;
  font-weight: 400;
}

.social-icons {
  margin-top: 20px;
  align-items: flex-start;
  gap: 35px;
}

.social-icon {
  color: #ffffff;
  font-size: 20px;
}

#hamburger {
  background: none;
  border: none;
  font-size: 19px;
  cursor: pointer;
  display: none;
  color: #808080;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.967);
  width: 300px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1500;
  animation: slideInRight 0.4s ease forwards;
}

.mobile-nav ul {
  list-style: none;
}

.mobile-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
}

.google-logo {
  padding-top: 20px;
  max-width: 100%;
  height: auto;
}

.close-nav {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
}

.footer {
    padding: 20px;
    background-color: #f8f9fa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-content p {
    margin: 5px 0;
  }
  
  .full-width {
    width: 100%;
  }
  
  .social-media-icons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .icon-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ccc;
    font-size: 20px;
    color: white;
  }
  
  .icon-circle i {
    color: #333;
  }
  
  .icon-circle:hover i {
    color: #000;
  }
  
  .copyright {
    text-align: center;
    font-size: 14px;
  }
  
  
  .full-width {
    flex: 1 1 100%;
  }
  
  .footer-section {
    padding-top: 10px;
  }
  
  .footer {
    background-color: #282828;
  }
  
  .footer-section h2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    text-align: left;
    padding-bottom: 5px;
    color: #ffffff;
    font-weight: 600;
  }
  
  .footer-section p {
    font-family: "Rubik", sans-serif;
    font-size: 15.2px;
    line-height: 24.2px;
    text-align: left;
    color: #bcbcbc;
    font-weight: 400;
    padding-bottom: 5px;
  }

  .footer-section .copyright {
    padding-top: 25px;
  }
  
  .footer-last {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    color: #ffdf01;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
  }
  
  .footer-last div {
    text-align: center;
    flex: 1;
  }
  
  .footer-last div:not(:last-child) {
    border-right: 1px solid #494949;
  }
  
  .footer-last a {
    text-decoration: none;
    color: #ffde00;
  }
  
  .footer-last p {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    line-height: 24.4px;
    color: #ffde00;
  }
  
  .forgap {
    height: 30px;
    /* Default gap height */
  }

  .first {
    text-align: center;
  }
  
  .bg1 {
    background-color: #000000;
    padding: 135px 8px;
  }
  
  .first h1 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .first p {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 26.4px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .whatsapp-icon-section {
    position: fixed;
    bottom: 50px; /* Adjust this value to position it lower or higher */
    right: 25px; /* Adjust this value to position it closer or further from the right edge */
    z-index: 1000; /* Ensure it stays on top of other elements */
  }
  
  .whatsapp-icon-section a img{
    width: 48px;
    height: 48px;
  }


  .job-section{
    padding-top:30px;
    padding-bottom: 20px;
  }

  .jobs .jp1{
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    line-height: 33.6px;
    text-align: start;
    color: #0766ad;
    font-weight: 600;
    margin-bottom: 10px;
  }

  #color{
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    line-height: 33.6px;
    text-align: start;
    color: #fe4c1b;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .jobs .jp2{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 26.8px;
    text-align: start;
    color: #000000;
    font-weight: lighter;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  .jp3{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 28.8px;
    text-align: start;
    color: #0766ad;
    font-weight: 600;
    margin-bottom: 10px;
  }

  #color2{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 28.8px;
    text-align: start;
    color: #fe4c1b;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .job-post-section {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.job.post {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
    max-width: 1500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    background: #fff;
}
.posts p {
    font-size: 18px;
    font-weight: bold;
}
.jobss-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.left, .right {
    width: 48%;
}
.left p, .right p {
    font-size: 16px;
    font-weight: bold;
}
ul {
    list-style-type: disc;
    padding-left: 20px;
}
.btns {
    text-align: center;
    margin-top: 20px;
}
.btns a {
    display: inline-block;
    background-color: #002dae;
    color: white;
    padding: 13px 23px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}

.posts .job-p{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 33px;
    text-align: left;
    color: #1a1b1e;
    font-weight: 600;
    margin-bottom: 10px;
}

.left p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #0766ad;
    font-weight: 600;
    margin-bottom: 10px;
}

.right p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: #fe4c1b;
    font-weight: 600;
    margin-bottom: 10px;
}

.left li {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 26.8px;
    text-align: left;
    color: #000000;
    font-weight: lighter;
}

#bold {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 26.8px;
    text-align: left;
    color: #000000;
    font-weight: bold;
}

.right li {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 26.8px;
    text-align: left;
    color: #000000;
    font-weight: lighter;
}





  @media (max-width: 765px) {
    .navbar-links {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  
    .navbar-links li {
      margin: 5px 0;
    }
  
    /* .navbar-links li:not(:last-child) {
          display: inline-flex;
          align-items: center;
        }
      
        .navbar-links li:last-child {
          flex-basis: 100%;
          margin-top: 2px;
        } */
  
    .navbar-links .separator {
      display: inline;
    }
  
    #hamburger {
      display: block;
    }
  
    .logo {
      padding-left: 0px;
    }
  
    .social-icon {
      height: 3px;
    }
  
    .social-icons {
      order: 1;
      gap: 20px;
      margin-top: 10px;
    }
  
    .nav-links {
      display: none;
    }
  
    .main-nav {
      flex-direction: row;
    }
  
    .footer {
      display: block;
    }
  
    .footer-section {
      flex: 1 1 calc(50% - 20px);
      margin-bottom: 20px;
    }
  
    .footer-section.full-width {
      flex: 1 1 100%;
      margin-bottom: 0;
    }
  
    /* .footer-last {
          position: static;
          flex-direction: row;
          padding: 6px 0;
      }
         .footer-last div {
          border-right: none;
      } */
  
    .forgap {
      height: 30px;
      /* Default gap height */
    }

        .jobss-section {
            flex-direction: column;
        }
        .left, .right {
            width: 100%;
            margin-bottom: 20px;
        }
  }